<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357001824502-9qpc0u7nsm50035mt8f94fjiq0mdv50e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357001824502-9qpc0u7nsm50035mt8f94fjiq0mdv50e</string>
	<key>API_KEY</key>
	<string>AIzaSyC69dF5tZDqs1TyI0QrMBa5bZwVzRU8jAk</string>
	<key>GCM_SENDER_ID</key>
	<string>357001824502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wineart.wineprojectfolder</string>
	<key>PROJECT_ID</key>
	<string>wineart-78082</string>
	<key>STORAGE_BUCKET</key>
	<string>wineart-78082.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357001824502:ios:158090a5d01bdb98ff44d7</string>
</dict>
</plist>